
.button {
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 8, 0.5, 0, 2);
    -fx-cursor: hand;
    /*transition: transform 0.2s ease-in-out, -fx-effect 0.2s ease-in-out;*/
}


.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 12, 0.5, 0, 4);
    /*transform: scale(1.05);*/
}


.button:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0.5, 0, 1); /* Subtle shadow reduction */
    /*transform: scale(0.95);*/
}

.button:disabled {
    -fx-opacity: 0.7;
    -fx-effect: none;
    -fx-cursor: default;
}
