
.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #ced4da;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-padding: 10px 40px;
    -fx-font-size: 14px;
    -fx-text-fill: #495057;
}


.text-field:focused {
    -fx-border-color: #80bdff;
    -fx-border-width: 2px;
}


.icon {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 16px;
    -fx-text-fill: #6c757d;
    -fx-padding: 10px;
    -fx-translate-x: -30px;
    -fx-position: absolute;
}


.button {
    -fx-background-color: #007bff;
    
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}


.button:hover {
    -fx-background-color: #0056b3;
}


.button:pressed {
    -fx-background-color: #003f7f;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.login-background {
    -fx-background-image: url("../img/UserLogin_background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.login-admin {
    -fx-background-color: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10px 5px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}

.login-admin:hover {
    -fx-text-fill: white;
}


#signupLabel {
    -fx-font-color: #007bff;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}


#signupLabel:hover {
    -fx-text-fill: #0056b3;
    -fx-underline: true;
}